$violet:#BB4ADF;
$green:#33DE9B;
$darkGreen:#299168;
$orange:#DEB85F;
$darkViolet:#772191;
@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');
$segoe:"Segoe UI";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: $segoe, sans-serif;
}

h1 {
    text-align: center;
    color: black;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

header {
    padding: 20px;
    position: sticky;
    background-color: $darkViolet;
    width: 100%;
    nav {
        a {
            margin: 10px;
        }
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            li {
                margin: 10px;
                a {
                    text-transform: uppercase;
                }
            }
        }
    }
}

main {
    background-color: #6d6d6d;
}

.jugar {
    a {
        text-align: center;
    }
}